@-webkit-keyframes unmask {
  0%, 100% {
    box-shadow: inherit;
    background-color: initial;
  }

  50% {
    box-shadow: rgba(0, 255, 23, 0.7) 0 0 20px;
    background-color: rgba(161, 255, 0, 0.1);
  }
}

.unmask-field{
  -webkit-animation: unmask 1s ease-in-out;
}
